:root {
  --font-body: "Poppins", "Open Sans", sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #cb3234;
  --secondary-color: #ece75f;
  --tertiary-color: #ffffff;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 0.5em;
}
.logo--square svg {
  width: 100px;
  height: 100px;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--primary-color);
}
.hero .mission {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-category__button {
  padding: 0.5rem;
}
button {
  display: inline-block;
  cursor: pointer;
  padding: 0 16px;
  background-color: var(--dark-grey);
  border-radius: 0.25rem;
  border: 1px solid #303030;
  color: #fff;
  font-size: var();
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: all ease-in 0.3s;
}
button:hover {
  background-color: #ece75f;
  color: #303030;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart svg {
  transition: all 0.3s ease-in;
  width: 40px;
  border-radius: 50%;
}
.cart:hover svg {
  color: red;
  box-shadow: 1px 1px 4px var(--dark-grey);
}
.cart__quantity {
  position: absolute;
  top: 5px;
  right: -2px;
  font-size: var(--small-font);
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 50%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End cart icon styles */

.mission {
  border-radius: 10px;
  border: 1px solid #cb3234;
  /* background-color: hsla(359, 60%, 50%, 0.5); */
  background: rgb(203, 50, 52);
  background: linear-gradient(90deg, #fff 0%, rgba(236, 231, 95, 0.5) 100%);
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.search-category {
  padding: 0.5em;
}
.search-category__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.search-category__item a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.search-category__item {
  overflow: hidden;
  flex: 1 1 45%;
  margin: 0.25em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}
.search-category__item h2,
.search-category__item h3 {
  margin: 0.5em 0;
  padding: 0.5em;
}
.search-category__item:hover {
  box-shadow: 1px 1px 4px var(--dark-grey);
}

.search-meal {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.search-meal__button {
  max-width: 100%;
}
.search-meal__img {
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  box-shadow: 1px 1px 4px var(--dark-grey);
}

.search-category__name {
  font-size: var(--small-font);
}

.search-category__title {
  font-size: 1em;
}
.search-category__detail {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: var(--dark-grey);
  border-radius: 0.25rem;
  border: 1px solid #303030;
  color: #fff !important;
  font-size: var(--small-font);
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: all ease-in 0.3s;
  margin-top: 0.5rem;
}
.search-category__detail:hover {
  background-color: #ece75f;
  color: #303030 !important;
}

.form-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-list__form {
  padding: 0.5rem;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-list__button {
  width: 100%;
  border-radius: 0 10px 10px 0;
  padding: 0.5em;
  height: 50px;
  flex: 2;
}
.form-list__input {
  flex: 3;
  width: 100%;
  height: 50px;
  padding: 0.5em 1em;
  font-size: var(--large-font);
  border-radius: 10px 0 0 10px;
  outline: none;
  border: 1px solid #303030;
  border-right: none;
}
.form-list__title {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
}
.modal__content {
  position: relative;
  background-color: #ffffff;
  margin: 15% auto;
  border: 1px solid #888;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid var(--light-grey);
  box-shadow: 1px 1px 4px var(--dark-grey);
}
.modal__header {
  background-color: #303030;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}
.modal__close,
.favorites-meal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #d0d0d0;
  cursor: pointer;
  font-size: var(--large-font);
  transition: all 0.2s ease-in;
}
.modal__close:hover,
.modal__close:focus,
.favorites-meal__close:hover,
.favorites-meal__close:focus {
  color: #ffffff;
  cursor: pointer;
}
.modal__info,
.meal-detail__info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__img,
.meal-detail__img {
  width: 100%;
  max-width: 400px;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  box-shadow: 1px 1px 4px var(--dark-grey);
}
.modal__categories,
.meal-detail__categories {
  display: flex;
  gap: 3rem;
}
.modal__category,
.meal-detail__category {
  font-weight: bold;
  font-size: var(--large-font);
  background-color: #ece75f;
  color: #303030;
  padding: 0.5rem;
  border-radius: 5px;
}
.modal__source,
.meal-detail__source {
  color: #303030;
  transition: all ease 0.3s;
}

.modal__source:hover,
.meal-detail__source:hover {
  color: #cb3234;
}
.meal-detail__ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.meal-detail__measure {
  background-color: #cb3234;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
}
.meal-detail__sources {
  margin-top: 20px;
}
.meal-detail__title {
  text-align: center;
}
.meal-detail__button {
  padding: 0.5rem 0.5rem;
  max-width: 400px;
}

.alert {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-top: 10px;
  background-color: var(--dark-grey);
  border-radius: 10px;
  position: relative;
  color: var(--tertiary-color);
}
.alert__message {
  text-align: center;
}
.alert__close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #d0d0d0;
  cursor: pointer;
  font-size: var(--large-font);
  transition: all 0.3s ease-in;
}
.alert__close:hover,
.alert__close:focus {
  color: #ffffff;
  cursor: pointer;
}

.favorites-meal__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0.5rem;
}
.favorites-meal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  transition: all 0.3s ease-in;
  overflow: hidden;
  max-width: 400px;
}
.favorites-meal__item:hover {
  box-shadow: 1px 1px 4px var(--dark-grey);
}
.favorites-meal__subtitle {
  background-color: var(--dark-grey);
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  color: var(--tertiary-color);
  text-align: center;
}
.favorites-meal__img {
  margin-top: 0;
  width: 100%;
}
.favorites-meal__area,
.favorites-meal__category {
  padding: 0 0.5rem;
  font-weight: bold;
}
.favorites-meal__span {
  font-weight: normal;
}
.favorites-meal__sources {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
}
.favorites-meal__source {
  text-decoration: none;
  background-color: hsla(359, 60%, 50%, 0.7);
  color: var(--tertiary-color);
  padding: 0.2rem 0.5rem;
  transition: all 0.3s ease-in;
}
.favorites-meal__source:hover {
  background-color: var(--primary-color);
}
.favorites-meal__button {
  padding: 0.5rem;
  width: 100%;
}
.favorites-meal__title {
  padding: 0 0.5rem;
}
.search-category__detail.favorite {
  text-decoration: none;
}

.search-category__detail.home {
  text-decoration: none;
}
.search-category__detail.home:hover {
  color: #303030 !important;
}

@media only screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }

  .hero .logo {
    max-width: 250px;
  }
  .logo--square svg {
    width: 200px;
    height: 200px;
    margin-top: -1.3em;
  }

  .search-meal {
    flex-direction: row;
    gap: 25px;
  }
  .search-meal__img {
    flex: 1;
    min-width: 0;
    object-fit: cover;
  }
  .search-meal__info {
    flex: 1;
    min-width: 0;
  }
  .search-meal__button {
    max-width: 100%;
  }

  .meal-detail__sources {
    display: flex;
    gap: 20px;
  }

  .favorites-meal__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .favorites-meal__item {
    max-width: 500px;
  }
  .favorites-meal__info {
    display: flex;
    flex-direction: row;
  }
  .favorites-meal__img {
    flex: 1;
    max-width: 230px;
    margin: 1rem;
    border-radius: 50%;
    border: 1px solid var(--light-grey);
    box-shadow: 1px 1px 4px var(--dark-grey);
  }
  .favorites-meal__details {
    flex: 1;
  }
  .favorites-meal__sources {
    padding-left: 0.5rem;
    justify-content: flex-start;
    gap: 20px;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
